{
    "jobbed beginner": [
        "STR mage", "DEX mage", "woods(wo)man", "brigand", "LUKless sin",
    ],
    "mixed attacker": ["gish", "gishlet"],
    "perma-first": [
        "permawarrior",
        "permamagician",
        "permarcher",
        "permarogue",
        "permapirate",
    ],
    "inlander": [
        "camper",
        "STRlander",
        "DEXlander",
        "magelander",
        "LUKlander",
        "hybridlander",
    ],
    "melee mage": ["STR mage", "DEX mage", "gish", "gishlet"],
    "STRanger": ["woods(wo)man", "LUKless sin", "swashbuckler"],
    "bloody": ["HP warrior", "blood dit"],
    "wanded": ["magelander", "wandginner", "wand warrior"],
    "weaponed warrior": ["wand warrior", "dagger warrior"],
    "spell user": ["permamagician", "magelet", "gish", "gishlet"],
    "DEX melee": [
        "DEXlander",
        "DEXginner",
        "DEX warrior",
        "DEX mage",
        "DEX brawler",
    ],
    "LUK melee": ["LUK warrior", "LUK bucc"],
    "daggered": ["dagger warrior", "dagger sin"],
    "power striker": ["permawarrior", "wand warrior", "dagger warrior"],
    "double stabber": ["permarogue", "dagger sin"],
    "kicker": [
        "permapirate", "armed brawler", "swashbuckler", "punch slinger",
    ],
    "rangeginner": ["bowginner", "clawginner", "begunner"],
    "ammoless": ["bow-whacker", "claw-puncher", "pistol-whipper"],
    "common claw user": [
        "LUKlander",
        "hybridlander",
        "LUKginner",
        "LUK warrior",
        "magelet",
        "LUK bucc",
    ],
    "uniquely weaponed": ["grim reaper", "carpenter", "pugilist"],
    "hybrid physical attacker": [
        "hybridlander",
        "woods(wo)man",
        "permarogue",
        "LUKless sin",
        "permapirate",
        "DEX brawler",
        "swashbuckler",
    ],
    "secondary statted": [
        "DEX warrior",
        "magelet",
        "woods(wo)man",
        "brigand",
        "LUKless dit",
        "DEX brawler",
        "swashbuckler",
    ],
    "LUKless thief": ["brigand", "LUKless dit", "LUKless sin"],
    "skill restricted": [
        "bowginner", "clawginner", "bombadier", "summoner", "begunner",
    ],
}
